---
layout: default
---

<div class="row g-5 mb-5">
  <!-- 이미지 주석을 해제하는 경우 col-md-12 가 아닌 col-md-6 으로 변경 -->
  <div class="col-md-12">
    <h3 class="fw-bold">About</h3>
    {{ content }}
  </div>
  <!--
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="100%">
  </div>
  -->
</div>

<!--{% include publications.html %}-->

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% assign posts_limit = site.updates_limit | default: 5 %}
    {% for post in site.posts limit: posts_limit %}
      {% if post.link and post.link != "" %}
        <p><a href="{{ post.link }}" target="_blank">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
      {% else %}
        <p>{{ post.title }} - {{ post.date | date: "%B %-d, %Y" }}</p>
      {% endif %}
    {% endfor %}
  </div>
</div>
